<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>欢迎页</title>
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
</head>
<body>
<div style="padding: 20px; text-align: center;">
    <h1 style="color: #1E9FFF;">欢迎使用心理学网站后台管理系统</h1>
    <p style="margin-top: 20px; color: #666;">请从左侧菜单选择功能模块进行操作</p>
    <div style="margin-top: 30px;">
        <i class="layui-icon layui-icon-heart" style="font-size: 50px; color: #FF5722;"></i>
    </div>
</div>
</body>
</html>
